p, td, th{
    font-size: 16px;
}
.container{
    position: relative;
    margin: 5% 15%;
    padding: 5% 5%;
    background-color: rgba(255, 255, 235, 0.808);
}
.header{
    line-height: 1;
}
.header > h2, .header > h4, .header > h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cen{
    text-align: center;
}
.jus{
    text-align: justify;
}
.box{
    width: 600px;
}
.left{
    text-align: left;
}
hr{
    height: 1px;
    background-color: #5e85cc;
    border: none;
}
.heading{
    color: #547EC9;
    font-family: 'Courier New', Courier, monospace;
}
.row{
    display: inline-block;
}
.col{
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    margin-left: 10%;
}
input, textarea{
    display: block;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
}
#invalid{
    /* float: right;
    width: 400px;
    line-height: 20px;
    text-align: center; */
    color: red;
    text-align: center;
    flex-direction: column;
    margin-left: 50%
}
#message{
    height: 100px;
}
#btn{
    width: 100px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}
#btn:hover{
    background-color: rgba(46, 144, 49, 0.835);
}
@media screen and (max-width: 800px) and (min-width: 300px){
    .container{
        position: relative;
        margin: 5% 3%;
        padding: 5% 3%;
        background-color: rgba(255, 255, 235, 0.808);
    }
        .header > h2{
       font-size: 1em;
    }
    .header > h4{
        font-size: 0.8em;
     }
     .header > h5{
        font-size: 0.3;
     }
    .col{
        display: flex;
        flex: 3;
        justify-content: space-around;
        align-content: center;
    }
/*     h2{
        font-size: 100%;
    }
    h4{
        font-size: 70%; 
    } */
    p, td, th{
        font-size: 90%;
    }
    .box{
        width: 400px;
    }
    input, textarea{
        display: block;
        width: 200px;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
    }
    img{
        width: 150px;
    }
    #invalid{
        line-height: 1.5;
        color: red;
    }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 800px){
    .container{
        position: relative;
        margin: 5% 3%;
        padding: 5% 3%;
        background-color: rgba(255, 255, 235, 0.808);
    }
    .header > h2, .header > h4, .header > h5{
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .header > h2{
       font-size: 1rem;
    }
    .header > h4{
        font-size: 0.7em;
     }
     .header > h5{
        font-size: 0.6em;
     }
    .col{
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .col > #img{
        flex: 2;
    }
    .col > form{
        flex: 3;
    }
    p{
        font-size: 14px;
    }
    td{
        font-size: 15px;
    }
    th{
        font-size: 35px;
    }
    .box{
        width: 620px;
    }
    input, textarea{
        display: block;
        width: 400px;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
    }
    input{
        height: 60px;
    }
    textarea{
        height: 100px;
    }
    #btn{
        height: auto;
    }
    img{
        display: block;
        width: 150px;
        margin: auto;
    }
    #invalid{
        line-height: 1.5;
        color: red;
    }
}
