p, td, th{
    font-size: 1em
}
.container{
    position: relative;
    margin: 5% 20%;
    padding: 5% 5%;
    background-color: rgba(255, 255, 235, 0.808);
}
.header{
    line-height: 2px;
}
.cen{
    text-align: center;
}
.jus{
    text-align: justify;
}
.box{
    width: 500px;
}
.left{
    text-align: left;
}
hr{
    height: 1px;
    background-color: #5e85cc;
    border: none;
}
.heading{
    color: #547EC9;
    font-family: 'Courier New', Courier, monospace;
}
.row{
    display: inline-block;
}
.col{
    display: inline-block;
    margin-left: 10%;
}
input, textarea{
    display: block;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
}
#invalid{
    float: right;
    width: 400px;
    line-height: 20px;
    text-align: center;
    color: red;
}
#message{
    height: 100px;
}
#btn{
    width: 100px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}
#btn:hover{
    background-color: rgba(46, 144, 49, 0.835);
}